
.export-container{
    display: flex;
}

.export-img {
   width: 600px;
    border-radius: 5px;

}



/* -----Mobil Design ----- */

@media (max-width: 991px) {
    .export-img {
        width: 350px;
        height: auto;
        position: static;
        right: 10%;
        border-radius: 5px;
    }

    .export-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .export-container{
        display: flex;
        flex-direction: column;
    }

}