.ship-image {
    border-radius: 5px;
}

.import-container{
    color: #002063;
}


/* -----Mobil Design ----- */

@media (max-width: 991px) {
    .ship-image {
        width: 350px;
        height: auto;
        position: static;
        border-radius: 5px;
    }

    .import-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}